<?xml version="1.0"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <mirrors>
        <mirror>
            <id>blws-infra</id>
            <mirrorOf>blws-infra</mirrorOf>
            <url>http://ap.kfems.net:22281/repository/maven-infra/</url>
        </mirror>
        <mirror>
            <id>blws-snapshot</id>
            <mirrorOf>blws-snapshot</mirrorOf>
            <url>http://ap.kfems.net:22281/repository/maven-snapshots/</url>
        </mirror>
        <mirror>
            <id>blws-releases</id>
            <mirrorOf>blws-release</mirrorOf>
            <url>http://ap.kfems.net:22281/repository/maven-releases/</url>
        </mirror>
    </mirrors>

    <profiles>
        <profile>
            <id>dev</id>
            <repositories>
                <repository>
                    <id>blws-infra</id>
                    <url>http://ap.kfems.net:22281/repository/maven-infra/</url>
                </repository>
                <repository>
                    <id>blws-central</id>
                    <url>http://ap.kfems.net:22281/repository/maven-central/</url>
                </repository>
                <repository>
                    <id>blws-snapshot</id>
                    <url>http://ap.kfems.net:22281/repository/maven-snapshots/</url>
                </repository>
                <repository>
                    <id>blws-releases</id>
                    <url>http://ap.kfems.net:22281/repository/maven-releases/</url>
                </repository>
            </repositories>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>dev</activeProfile>
    </activeProfiles>

    <servers>
        <server>
            <id>blws</id>
            <username>blws</username>
            <password>blwsmes0201</password>
        </server>
    </servers>
</settings>