<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blws.domain.common.user.dao.UserDAO">

  <select id="selectUserById"
    parameterType="com.blws.domain.common.user.entity.UserEntity"
    resultType="com.blws.domain.common.user.entity.UserEntity">
    SELECT SU.USER_ID
         , SU.PWD
         , SU.USER_NM AS name
         , SU.DEPT_ID
         , D.DEPT_NM
         , SU.EML
         , SU.PHONE_NO
<!--         , created_by
         , created_date
         , last_modified_by
         , last_modified_date
         , is_deleted
         , deleted_by
         , deleted_date-->
         , ISNULL(STUFF((SELECT ',' + SR.ROLE_ID
                   FROM SF_ROLE_USER_MAP SR, SF_ROLE R 
                  WHERE SR.USER_ID = SU.USER_ID 
                    AND SR.USE_FLAG = 'Yes'
                    AND SR.FACTORY_ID = R.FACTORY_ID
                    AND SR.ROLE_ID = R.ROLE_ID
                    AND R.ROLE_TYPE = 'MENU'
                    FOR XML PATH('')
                  ), 1, 1, ''), 'Guest') AS role_id
    FROM SF_USER SU LEFT OUTER JOIN BW_DEPT D ON SU.DEPT_ID = D.DEPT_ID
    WHERE SU.USER_ID = #{userId}
  </select>

  <select id="selectUserByIds"
    parameterType="com.blws.domain.common.user.entity.UserEntity"
    resultType="com.blws.domain.common.user.entity.UserEntity">
    SELECT SU.USER_ID
         , SU.PWD
         , SU.USER_NM AS name
         , SU.DEPT_ID
         , D.DEPT_NM
         , SU.EML
         , SU.PHONE_NO
<!--         , created_by
         , created_date
         , last_modified_by
         , last_modified_date
         , is_deleted
         , deleted_by
         , deleted_date-->
         , ISNULL(STUFF((SELECT ',' + SR.ROLE_ID
                   FROM SF_ROLE_USER_MAP SR, SF_ROLE R 
                  WHERE SR.USER_ID = SU.USER_ID 
                    AND SR.USE_FLAG = 'Yes'
                    AND SR.FACTORY_ID = R.FACTORY_ID
                    AND SR.ROLE_ID = R.ROLE_ID
                    AND R.ROLE_TYPE = 'MENU'
                    FOR XML PATH('')
                  ), 1, 1, ''), 'Guest') AS role_id
    FROM SF_USER SU LEFT OUTER JOIN BW_DEPT D ON SU.DEPT_ID = D.DEPT_ID
    WHERE
        <foreach collection="list" item="item" separator="OR">
           SU.USER_ID = #{item.userId}
        </foreach>
  </select>

  <select id="selectUserByUserId"
    parameterType="com.blws.domain.common.user.entity.UserEntity"
    resultType="com.blws.domain.common.user.entity.UserEntity">
    SELECT DISTINCT SU.USER_ID
         , SU.PWD
         , SU.USER_NM AS name
         , SU.DEPT_ID
         , D.DEPT_NM
         , SU.EML
         , SU.PHONE_NO
<!--         , created_by
         , created_date
         , last_modified_by
         , last_modified_date
         , is_deleted
         , deleted_by
         , deleted_date-->
         , SU.ACCES_TKN
         , SU.REFRESH_TKN
         , SRU.FACTORY_ID
         , ISNULL(STUFF((SELECT ',' + SR.ROLE_ID
                   FROM SF_ROLE_USER_MAP SR, SF_ROLE R
                  WHERE SR.USER_ID = SU.USER_ID
                    AND SR.USE_FLAG = 'Yes'
                    AND SR.FACTORY_ID = R.FACTORY_ID
                    AND SR.ROLE_ID = R.ROLE_ID
                    AND R.ROLE_TYPE = 'MENU'
                    FOR XML PATH('')
                  ), 1, 1, ''), 'Guest') AS role_id
         , DATEDIFF(DAY, GETDATE(), PWD_CHG_DT) AS PWDdate
    FROM SF_USER SU INNER JOIN SF_ROLE_USER_MAP SRU on SU.USER_ID = SRU.USER_ID LEFT OUTER JOIN BW_DEPT D ON SU.DEPT_ID = D.DEPT_ID
    WHERE SU.USER_ID = #{userId}
  </select>

  <select id="selectAll"
    resultType="com.blws.domain.common.user.entity.UserEntity">
    SELECT SU.USER_ID
         , SU.PWD
         , SU.USER_NM AS name
         , SU.DEPT_ID
         , D.DEPT_NM
         , SU.EML
         , SU.PHONE_NO
<!--         , created_by
         , created_date
         , last_modified_by
         , last_modified_date
         , is_deleted
         , deleted_by
         , deleted_date-->
         , ISNULL(STUFF((SELECT ',' + SR.ROLE_ID
                   FROM SF_ROLE_USER_MAP SR, SF_ROLE R 
                  WHERE SR.USER_ID = SU.USER_ID 
                    AND SR.USE_FLAG = 'Yes'
                    AND SR.FACTORY_ID = R.FACTORY_ID
                    AND SR.ROLE_ID = R.ROLE_ID
                    AND R.ROLE_TYPE = 'MENU'
                    FOR XML PATH('')
                  ), 1, 1, ''), 'Guest') AS role_id
    FROM SF_USER SU LEFT OUTER JOIN BW_DEPT D ON SU.DEPT_ID = D.DEPT_ID
  </select>

  <select id="selectUserByConditions"
    parameterType="com.blws.domain.common.user.entity.UserEntity"
    resultType="com.blws.domain.common.user.entity.UserEntity">
    SELECT SU.USER_ID
         , SU.PWD
         , SU.USER_NM AS NAME
         , SU.DEPT_ID
         , D.DEPT_NM
         , SU.EML
         , SU.PHONE_NO
<!--         , created_by
         , created_date
         , last_modified_by
         , last_modified_date
         , is_deleted
         , deleted_by
         , deleted_date-->
         , ISNULL(STUFF((SELECT ',' + SR.ROLE_ID
                   FROM SF_ROLE_USER_MAP SR, SF_ROLE R 
                  WHERE SR.USER_ID = SU.USER_ID 
                    AND SR.USE_FLAG = 'Yes'
                    AND SR.FACTORY_ID = R.FACTORY_ID
                    AND SR.ROLE_ID = R.ROLE_ID
                    AND R.ROLE_TYPE = 'MENU'
                    FOR XML PATH('')
                  ), 1, 1, ''), 'Guest') AS role_id
    FROM SF_USER SU LEFT OUTER JOIN BW_DEPT D ON SU.DEPT_ID = D.DEPT_ID
    WHERE SU.USE_FLAG = 'Yes'
    <if test="userId != null and userId != ''">
       AND SU.USER_ID LIKE CONCAT('%', #{userId}, '%')
    </if>
    <if test="name != null and name != ''">
       AND SU.USER_NM LIKE CONCAT('%', #{name}, '%')
    </if>
  </select>

    <update id="updateUserToken"
            parameterType="com.blws.domain.common.user.entity.UserEntity">
        UPDATE SF_USER
        SET ACCES_TKN     = #{accesTkn}
          , REFRESH_TKN    = #{refreshTkn}
        WHERE USER_ID = #{userId}
    </update>
</mapper>

<!--  <insert id="insertUserList"
    parameterType="com.blws.domain.common.user.entity.UserEntity">
    INSERT INTO sf_user
    ( user_id
    , password
    , name
    , email
    , phone_number
    , created_by
    , created_date
    , last_modified_by
    , last_modified_date
    , role_id)
    VALUES 
    <foreach item="item" collection="list" separator=",">
    ( #{item.userId}
    , #{item.password}
    , #{item.name}
    , #{item.email}
    , #{item.phoneNumber}
    , #{item.createdBy}
    , #{item.createdDate}
    , #{item.lastModifiedBy}
    , #{item.lastModifiedDate}
    , #{item.roleId})
    </foreach>
  </insert>

  <insert id="insertUserWithId"
    parameterType="com.blws.domain.common.user.entity.UserEntity">
    INSERT INTO sf_user
    ( id
    , user_id
    , password
    , name
    , email
    , phone_number
    , created_by
    , created_date
    , last_modified_by
    , last_modified_date
    , role_id)
    VALUES 
    <foreach item="item" collection="list" separator=",">
    ( #{item.id}
    , #{item.userId}
    , #{item.password}
    , #{item.name}
    , #{item.email}
    , #{item.phoneNumber}
    , #{item.createdBy}
    , #{item.createdDate}
    , #{item.lastModifiedBy}
    , #{item.lastModifiedDate}
    , #{item.roleId})
    </foreach>
  </insert>

  <update id="updateUserById"
    parameterType="com.blws.domain.common.user.entity.UserEntity">
    <foreach item="item" collection="list" separator=";">
    UPDATE sf_user
    SET user_id            = #{item.userId}
    <if test="item.password != null and item.password != ''">
      , password           = #{item.password}
    </if>
      , name               = #{item.name}
      , email              = #{item.email}
      , phone_number       = #{item.phoneNumber}
      , last_modified_by   = #{item.lastModifiedBy}
      , last_modified_date = #{item.lastModifiedDate}
      , role_id            = #{item.roleId}
    WHERE id = #{item.id}
    </foreach>
  </update>

  <update id="updateUserIsDeletedById"
    parameterType="com.blws.domain.common.user.entity.UserEntity">
    <foreach item="item" collection="list" separator=";">
    UPDATE sf_user
    SET is_deleted         = #{item.isDeleted}
      , deleted_by         = #{item.deletedBy}
      , deleted_date       = #{item.deletedDate}
      , last_modified_by   = #{item.lastModifiedBy}
      , last_modified_date = #{item.lastModifiedDate}
      , role_id            = #{item.roleId}
    WHERE id = #{item.id}
    </foreach>
  </update>-->
