<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blws.domain.common.usermenu.dao.UserMenuDAO">
  <select id="selectUserMenuList"
    parameterType="com.blws.domain.common.usermenu.entity.UserMenuEntity"
    resultType="com.blws.domain.common.usermenu.entity.UserMenuEntity">
    SELECT UM.MENU_ID, M.MENU_NM, M.URL, UM.MENU_SEQ
    FROM SF_USER_MENU UM, SF_MENU M
    WHERE UM.MENU_ID = M.MENU_ID
    AND UM.FACTORY_ID = #{factoryId}
    AND UM.USER_ID = #{userId}
    ORDER BY MENU_SEQ
  </select>
  
  <insert id="insertUserMenu" parameterType="com.blws.domain.common.usermenu.entity.UserMenuEntity">
	  INSERT INTO SF_USER_MENU(
	  	FACTORY_ID,
	  	USER_ID,
	  	MENU_ID,
	  	MENU_SEQ,
        CRET_TM ,
        CRET_USER_ID ,
        LAST_UPD_TM ,
        LAST_UPD_USER_ID
	  )
	  VALUES(
	  	#{factoryId},
	  	#{userId},
	  	#{menuId},
	  	#{menuSeq},
	  	GETDATE(),
	  	#{userId},
	  	GETDATE(),
	  	#{userId}
	  )
  </insert>
  
  <update id="updateUserMenu" parameterType="com.blws.domain.common.usermenu.entity.UserMenuEntity">
	  UPDATE SF_USER_MENU
	  SET MENU_SEQ = #{menuSeq}, LAST_UPD_TM = GETDATE(), LAST_UPD_USER_ID = #{userId}
	  WHERE FACTORY_ID = #{factoryId}
	  AND USER_ID = #{userId}
	  AND MENU_ID = #{menuId}
  </update>
  
  <delete id="deleteUserMenu" parameterType="com.blws.domain.common.usermenu.entity.UserMenuEntity">
	  DELETE FROM SF_USER_MENU
	  WHERE FACTORY_ID = #{factoryId}
	  AND USER_ID = #{userId}
	  AND MENU_ID = #{menuId}
  </delete>
  
  
</mapper>