<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blws.domain.common.menu.dao.MenuDAO">
  <select id="selectMenuByConditions"
    parameterType="com.blws.domain.common.menu.entity.MenuEntity"
    resultType="com.blws.domain.common.menu.entity.MenuEntity">
    SELECT DISTINCT SM.FACTORY_ID
         , SM.MENU_ID
         , SM.MENU_NM
         , SM.MENU_NM_EN
         , IIF(SM.PRNT_SID = '', NULL, SM.PRNT_SID) AS PRNT_SID
         , SM.URL
         , SM.USE_FLAG
         , SM.POS
         , #{roleId} AS ROLE_ID
         , SM.ICON_CLASS
    FROM SF_MENU SM, SF_ROLE_MENU_MAP SRM, SF_ROLE SR
    WHERE SM.USE_FLAG = #{useFlag}
    AND SM.MENU_ID = SRM.MENU_ID
    AND SM.MENU_TYPE = 'MES'
    AND SRM.ROLE_ID IN (SELECT * FROM STRING_SPLIT(#{roleId}, ','))
    AND SRM.FACTORY_ID = SR.FACTORY_ID
    AND SRM.ROLE_ID = SR.ROLE_ID
    AND SR.ROLE_TYPE = 'MENU'
    UNION ALL 
    SELECT UM.FACTORY_ID,
		   UM.MENU_ID+'a' AS MENU_ID,
		   M.MENU_NM,
		   M.MENU_NM_EN,
		   '00' AS PRNT_SID,
		   M.URL,
		   'Yes' AS USE_FLAG,
		   UM.MENU_SEQ AS POS,
		   #{roleId} AS ROLE_ID,
		   NULL AS ICON_CLASS
	FROM SF_USER_MENU UM, SF_MENU M
	WHERE UM.MENU_ID = M.MENU_ID
	AND UM.USER_ID = #{userId}
    ORDER BY POS
  </select>
  
  <select id="selectMenuById"
    parameterType="com.blws.domain.common.menu.entity.MenuEntity"
    resultType="com.blws.domain.common.menu.entity.MenuEntity">
    SELECT DISTINCT SM.FACTORY_ID
         , SM.MENU_ID
         , SM.MENU_NM
         , SM.MENU_NM_EN
         , IIF(SM.PRNT_SID = '', NULL, SM.PRNT_SID) AS PRNT_SID
         , SM.URL
         , SM.USE_FLAG
         , SM.POS
         , '' AS ROLE_ID
         , SM.ICON_CLASS
    FROM SF_MENU SM
    WHERE 1=1
    WHERE SM.USE_FLAG = #{useFlag}
    AND SM.MENU_ID = #{menuId}
    AND SM.MENU_TYPE = 'MES'
    ORDER BY SM.POS
  </select>

  <select id="selectAll"
    resultType="com.blws.domain.common.menu.entity.MenuEntity">
    SELECT DISTINCT SM.FACTORY_ID
         , SM.MENU_ID
         , SM.MENU_NM
         , SM.MENU_NM_EN
         , IIF(SM.PRNT_SID = '', NULL, SM.PRNT_SID) AS PRNT_SID
         , SM.URL
         , SM.USE_FLAG
         , SM.POS
         , '' AS ROLE_ID
         , SM.ICON_CLASS
    FROM SF_MENU SM
    WHERE SM.USE_FLAG = #{useFlag}
    AND SM.MENU_TYPE = 'MES'
    <!-- 권한별 메뉴 목록 실패시 전체 메뉴 Load 되지 않도록 하기 위한 추가 조건 -->
    AND 1 != 1
    ORDER BY SM.POS
  </select>

<!--  <insert id="insertMenuList"
    parameterType="com.blws.domain.common.menu.entity.MenuEntity">
    INSERT INTO sf_menu
    ( name
    , english_name
    , parents_id
    , url
    , is_used
    , sort_sequence
    , role_id
    , icon_class
    , created_by
    , created_date
    , last_modified_by
    , last_modified_date)
    VALUES
    <foreach collection="list" item="item" separator=",">
      ( #{item.name}
      , #{item.englishName}
      , #{item.parentsId}
      , #{item.url}
      , #{item.isUsed}
      , #{item.sortSequence}
      , #{item.roleId}
      , #{item.iconClass}
      , #{item.createdBy}
      , #{item.createdDate}
      , #{item.lastModifiedBy}
      , #{item.lastModifiedDate})
    </foreach>
  </insert>

  <update id="updateMenuById"
    parameterType="com.blws.domain.common.menu.entity.MenuEntity">
    <foreach item="item" collection="list" separator=";">
    UPDATE sf_menu
    SET name               = #{item.name}
      , english_name       = #{item.englishName}
      , parents_id         = #{item.parentsId}
      , url                = #{item.url}
      , is_used            = #{item.isUsed}
      , sort_sequence      = #{item.sortSequence}
      , role_id            = #{item.roleId}
      , icon_class         = #{item.iconClass}
      , last_modified_by   = #{item.lastModifiedBy}
      , last_modified_date = #{item.lastModifiedDate}
    WHERE id = #{item.id}
    </foreach>
  </update>

    <update id="updateMenuByParentsId"
            parameterType="com.blws.domain.common.menu.entity.MenuEntity">
        <foreach item="item" collection="list" separator=";">
            UPDATE sf_menu
            SET  role_id = #{item.roleId}
            , last_modified_by   = #{item.lastModifiedBy}
            , last_modified_date = #{item.lastModifiedDate}
            WHERE parents_id = #{item.id}
        </foreach>
    </update>
  
  <insert id="insertMenuWithId"
    parameterType="com.blws.domain.common.menu.entity.MenuEntity">
    INSERT INTO sf_menu
    ( id
    , name
    , english_name
    , parents_id
    , url
    , is_used
    , sort_sequence
    , role_id
    , icon_class
    , created_by
    , created_date
    , last_modified_by
    , last_modified_date)
    VALUES
    <foreach collection="list" item="item" separator=",">
      ( #{item.id}
      , #{item.name}
      , #{item.englishName}
      , #{item.parentsId}
      , #{item.url}
      , #{item.isUsed}
      , #{item.sortSequence}
      , #{item.roleId}
      , #{item.iconClass}
      , #{item.createdBy}
      , #{item.createdDate}
      , #{item.lastModifiedBy}
      , #{item.lastModifiedDate})
    </foreach>
  </insert>

  <delete id="deleteMenuById"
    parameterType="com.blws.domain.common.menu.entity.MenuEntity">
    DELETE
    FROM sf_menu
    WHERE
    <foreach collection="list" item="item" separator="OR">
        id = #{item.id}
    </foreach>
  </delete>-->

</mapper>